.pass4{
    display: grid;
    grid-template-columns: 1fr 1fr 1fr 1fr;
    grid-column-gap:10px ;
    /* margin: 20px; */
    /* text-align: center; */
    padding-left: 50px;
    margin-bottom: 40px;
}
.frame {
    position: relative;
    width: 250px;
    height: 250px;
}
.pic-bg{
    width: 100%;
    height: 100%;

}
.pic{
    width: 100%;
    height: 100%;
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
}
.name{
    text-align: center;
}
.fa-regular{
    border-radius: 1px;
    font-size: 25px;
}
.btn{
    
    color:rgb(211, 192, 192);
}
.btn:hover{
    background-color: rgb(238, 77, 13);
    color: aliceblue;
}
.namphone{
    
    color:rgb(0, 0, 0);
}
.namphone:hover{  
    color: rgb(255, 63, 5);
}
.items{
    list-style-type: none;
}
.frame .label_product {
    position: absolute;
    top: 0;
    right: 0;
    background: rgb(245, 206, 80);
    padding: 10px 5px;
    font-weight: bold;
    font-size: 14px;
    z-index: 3;
    color: rgb(241, 93, 8);
}
.namephone{
    
    color:rgb(0, 0, 0);
}
.namephone:hover{  
    color: rgb(255, 63, 5);
}