*{
    margin: 0;
    padding: 0;
}
/* body{
    background: #e2e1dc;
} */
.container{
    width: 70%;
    margin: 0 auto;
}
.pass1{
    width: 100%;
    background-color: #FBCB0B;
}
.anh1{
    width: 100%;
}
.pass5{
    display: grid;
    grid-template-columns: 1fr 1fr 1fr 1fr 1fr;
    margin-bottom: 100px;
}
.net{
    padding-left: 890px;
    margin-bottom: 50px;
}
.see-all button {
    padding: 10px 14px;
    font-size: 16px;
    color:#e85933;
    background:none;
    border: 1px solid #e85933;
    border-radius: 4px;
}
.logo50{
    
    margin-bottom: 50px;
}
.pass6{
    display: grid;
    grid-template-columns: 1fr 1fr 1fr 1fr;
    gap: 30px;
    margin-bottom: 100px;
      
}
.namephones{
    margin-bottom: 20px;
    font-size: 20px;
}



.namephone{
    font-size: 20px;
    padding-right: 50px;
    
}
.nett{
    padding-left: 890px;
    margin-bottom: 60px;
}
.product{
    display: grid;
    grid-template-columns:30% 70%;
    margin-bottom: 80px;
      
}
.lest{
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    gap: 10px;
}
.nettt{
    padding-left: 600px;
    
}
.product-item{
    display: grid;
    grid-template-columns:30% 70%;
    margin-bottom: 80px; 
}
.lest{
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    gap: 10px;
}
.lest-item{
    display: grid;
    grid-template-columns: 1fr 1fr 1fr 1fr 1fr;
    gap: 10px;
    margin-bottom: 100px;
      
}
.netttt{
    padding-left: 890px; 
    margin-bottom: 50px;
}
.giamgia{
    display: grid;
    grid-template-columns: 1fr 1fr 1fr ;
    /* padding-left: 50px; */
    gap: 90px;
    margin-bottom: 100px;
}
.item-menu{
    display: flex;
    justify-content: flex-end;
   
}







.family{
    display: grid;
    grid-template-columns: 1fr 1fr 1fr 1fr 1fr;
    margin-bottom: 110px;
}
.nettttt{
    padding-left: 890px; 
    margin-bottom:100px ;
}
.pass10{
    margin-bottom: 200px;


}
.foot{
    background: rgb(228, 222, 222);
    display: grid;
    grid-template-columns: 1fr 1fr 1fr 1fr ;
    gap: 20px;
    padding-left: 100px;
    margin-bottom: 200px;
    font-family:system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
}
.icon-itme{
    display: flex;
    gap: 20px;
    list-style-type: none;
    
}
.fa{
    background-color: #f75022;
}







