.pass2 {
    background: rgb(216, 89, 42);
}

.aaaa{
    display: flex;
    justify-content: space-between;
    padding: 10px 0;
    align-items: center;

}
/* ------------------cho naty */
.logo1 img{
    width: 100%;
    
}
.thongtin{
    display: grid;
    grid-template-columns: 30% 70%;
}
.fa-solid {
   display: grid;
   justify-content: center;
}
.menu{
    display: flex;
    justify-content: space-between;
    font-size: 20px;
}
/* ------------- */
 
